.container{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    margin-bottom: 2vh;
}
.btnContainer{
    margin: 1rem;
}
.btn{
    background-color: rgba(255, 255, 255, 0.664);
    border: none;
    height: 5vh;
    width: 8vw;
    cursor: pointer;
    color: #312222;
    font-size: 120%;
    font-weight: 650;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
}
.btnClicked{
    border: none;
    height: 5vh;
    width: 8vw;
    border-radius: 1rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.877);
    color: white;
    font-size: 120%;
    font-weight: 650;
    transition: 0.3s ease-in-out;
}