.container{
  background-color: #e6ddcc;
  min-height: 90vh;
  padding-top:7rem;
}
.title {
  text-align: center;
}
.data{
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
.buyer {
  border: 2px solid red;
  padding: .6rem;
  flex: 1;
}
.pay {
  border: 2px solid green;
  padding: .6rem;
  flex: 1;
}
.buyerData {
  border: 2px solid blue;
  margin-top: .5rem;
}
.labels {
  margin-top: .4rem;
}