.container{
    background-color: #e6ddcc;
    min-height: 120vh;
}
.infoContainer{
    margin: 3vh;
    background-color: rgba(206, 206, 206, 0.651);
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 5%;
}
.header{
    width: 100%;
    height: 65vh;
    background-image: url(../../../public/assets/images/profileBg.jpg);
    background-position: start;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 6vh;
}
.allContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.imgBg{

    margin-top: 4vh;
    height: 20vh;
    width: 90%;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.mailContainer{
    width: 50%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 2vw;
    justify-content: space-around;

}
.text{
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btnContainer{
    display: flex;
    align-items: end;
}
.btn{
    color: rgba(10, 10, 10, 0.774);
    background-color: #9e988c;
    border: none;
    margin-bottom: 3vh;
    height: 5vh;
    width: 6vw;
    border-radius: 2vh;
    font-weight: 650;
}
.recomendation{
    background-color: rgba(206, 206, 206, 0.651);
    height: 80vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3vh;
    border-radius: 5%;
}
.card{
    background-color: rgba(255, 255, 255, 0.507);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    border-radius: 1rem;
}
.img{
    height: 10vh;
}
.button{
    height: 5vh;
    width: 4vw;
    border: none;
    background-color: #9e988c00;
    border-radius: 2vh;
    margin-right: 1vw;
    cursor: pointer;
}
.buttonContainer{
    display: flex;
    align-items: center;
}
.recom{
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
}
.purchase{
    height: 60vh;
    display: flex;
    align-items: center;
}