.carouselContainer{
    background-color: rgba(255, 255, 255, 0.363);
    padding-top: 4vh;
    width: 90%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5vh 0 15vh 0;
    border-radius: 1rem;
}
.img{
    height: 40vh;
    object-fit: contain;
    border-radius: 5%;
}
.carouselObject{
    border-radius: 1rem;
    width: 93%;
    height: 50vh;
    align-items: center;
    display: flex;
    margin: 3rem;
}
.carousel{
    width: 100%;
}
.carouselText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
.description{
    margin-top: 2rem;
    width: 70%;
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
}