.carouselContainer {
  width: 40%;
  height: 80vh;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 4rem;
  padding: 1rem;
}

.carouselObject {
  border-radius: 1rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 4rem;
}
.img {
  object-fit: cover;
}

.carouselText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
}
.anchor {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgba(8, 8, 8, 0.753);
  border-radius: 1vw;
  padding: 0.6rem 2rem;
  font-size: 20px;
  margin-top: 1rem;
}

.anchor:hover {
  background-color: rgba(173, 71, 71, 0.753);
}
@media (min-width: 320px) and (max-width: 768px) {
  .carouselContainer {
    display: flex;
    flex-direction: column;
    height: 150vh;
    justify-content: center;
    align-items: center;
  }
  .carouselObject {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 160vh;
    width: 100%;
    margin: 0;
  }
  .carousel {
    height: 160vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .anchor {
    width: 30vw;
  }
  .anchorContainer {
    bottom: 5%;
  }
}
