.carouselContainer{
    background-color: #ceb88e;
    padding-top: 4vh;
    width: 70%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15vh 0 15vh 0;
    border-radius: 1rem;
}
.img{
    height: 20vh;
    object-fit: contain;
    border-radius: 10%;
}
.carouselObject{
    border-radius: 1rem;
    width: 93%;
    height: 25vh;
    align-items: center;
    display: flex;
    margin: 2rem;
}
.carousel{
    width: 100%;
}
.carouselText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
.description{
    margin-top: 2rem;
    width: 70%;
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
}