.container{
    background-color: #e6ddcc;
    min-height: 69vh;
}
.logo{
    height: 15vh;
    width: 30%;
    margin-left: 1rem;
}
.bgContainer{
    width:100%;
    display: flex;
    justify-content: center;
}
.bg{
    margin-top: 5vh;
    width: 80%;
    background-image: url(../../../public/assets/images/bgi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35vh;
    border-radius: 1rem;
}
.legend{
    margin-left: 10rem;
    color: #979797;
}
.carouselContainer{
    display: flex;
    justify-content: center;
}
.recom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 3vh;
    height: 10vh;
}
@media (min-width: 320px) and (max-width: 768px) {
    .recom{
        font-size: 2.5vh;
    }
    .carouselContainer{
        height: 160vh;
    }
}