.container{
    background-color: #141412;
}

.recom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    color: white;
    padding: 3rem;
}
.div{
    width: 40%;
    min-height: 70vh;
    padding: 3rem;
border-radius: 1rem;
display: flex;
flex-direction: column;
align-items: center;
}
.div h2{
    font-size: 30px;
}
.div p{
    margin-top: 2rem;
    width: 100%;
font-size: 20px;
}
@media (min-width: 320px) and (max-width: 768px) {
    .recom{
        font-size: 2.5vh;
    }
    .carouselContainer{
        height: 160vh;
    }
}